# AWS Configuration
AWS_REGION=ap-southeast-2
AWS_ACCOUNT_ID=

# DynamoDB
DYNAMODB_TABLE_NAME=quickinvoice-dev

# Secrets Manager ARNs
JWT_PRIVATE_KEY_SECRET_ARN=
JWT_PUBLIC_KEY_SECRET_ARN=

# SES
SES_FROM_ADDRESS=noreply@quickinvoice.com
SES_REGION=ap-southeast-2

# App
APP_BASE_URL=https://app.quickinvoice.com
TOKEN_VERSION_TABLE_KEY=TOKEN_VERSION

# JWT
ACCESS_TOKEN_EXPIRY_SECONDS=900
REFRESH_TOKEN_EXPIRY_SECONDS=604800
JWT_ISSUER=quickinvoice
JWT_AUDIENCE=quickinvoice-api
